.button {
  text-align: center;
}
body {
  width: 1700px;
  height: 2000px;
  background-color: rgb(161, 222, 166);
}
.paragraph {
  text-align-last: left;
  font-size: 40px;
  color: rgb(68, 71, 22);
}
.heading {
  text-align: center;
}
.image1 {
  text-align: center;
}
.image2 {
  text-align: center;
}
h1 {
  font-size: 60px;
  text-shadow: 2px 2px 5px;
  color: rgb(154, 125, 31);
}
h2 {
  font-size: 40px;
  text-shadow: 1px 1px 5px;
  color: rgb(120, 126, 40);
}
h3 {
  font-size: 30px;
}
